.navigation{
   position: absolute;
   top:10px;
    background-color: whitesmoke;
    width: 100%;
}
.centre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btns {
    display:flex;
    gap:10px;
}
.createform {
    border: solid black 2px;
    margin :auto;
    height: 70vh;
    width :50%;
}
.showPass {

    height: 40%;
    width :40%;
   
    gap:10px;
}
#allPasswords{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;
}
.shiftIcons{
   
   
    display: inline;
   
}
i{
    margin-right: 10px;
    padding: 5px;
}

