.navigation{
   position: absolute;
   top:10px;
    background-color:#F0F5E9;
    width: 100%;
}
.centre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.adjust
{
    position: relative;
    width: 20px;
}

.btns {
    display:flex;
    gap:10px;
}
.createform {
    border-radius: 15%;
    margin :auto;
    height: 70vh;
    width :50%;
    letter-spacing: 0.6px; 
    
   
}
.showPass {

    height: 40%;
    width :40%;
   
    gap:10px;
}
#allPasswords{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;
      
}
#icons{
    display:flex;
    flex-direction: row;
    justify-content: center;
    height:40%;
}
.fa-square-instagram{
    color:#C13584;
}
.fa-facebook{
    color:#1877F2;
}
.fa-twitter{
 color:#1DA1F2;
}
.fa-linkedin{
    color:#0A66C2;
}


.shiftIcons{
   
   
    display: inline;
   
}
i{
    margin-right: 10px;
    padding: 5px;
}
.form-label{
    font-size: larger;
}
.htmlForm-label{
    font-size: larger;
}
.form-control{
    width: 200%;
}
.mb-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.btn{
    width:40%;
}
.btns{
    gap:10%;
}
.size{
    width:50%;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20%;
}
.wi{
    width:100%;
}
.signup {
    padding:0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%; /* Height relative to the parent */
    width: 80%;  /* Width relative to the parent */
    position: relative;
    left: 10%;
    top:10%;   /* Adjust position relative to the parent */
  }
  
.parent-container {
    height: 100vh; /* Full viewport height */
    width: 100%;   /* Full width */
    overflow-y: hidden;
  }
  .login-message-box {
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

.login-message {
    font-size: 1rem;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff; /* Use white to contrast with the background */

}




